{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" method="{{ path('app_login') }}">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    {% if app.user %}

            {% if app.user.isAdmin == "1" %}
                <div class="mb-3">
                    You are logged in as admin account {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>

            {% elseif app.user.isAdmin == "0" %}
                 <div class="mb-3">
                     You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                 </div>
            {% endif %}

    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <br />
    <label for="inputUsername">Username</label> <br/>
    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" required autofocus> <br />
    <label for="inputPassword">Password</label> <br/>
    <input type="password" name="_password" id="inputPassword" class="form-control" required> <br />



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br />
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>

</form><br />
    <a href="{{ path('app_forgot_password_request') }}">Wachtwoord vergeten?</a><br/>
    <a href="{{ path('home') }}">Back to homepage</a>


{% endblock %}
